# =========================
# LaTeX build artifacts
# =========================
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.lof
*.lot
*.idx
*.ind
*.ilg
*.synctex.gz
*.xdv
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

# Minted/Pygments cache
_minted/
*.pyg

# Temporary/editor files
*~
*.swp
*.swo
.DS_Store
Thumbs.db

.stfolder/